@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }

  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0;
}

/* shared styles */

.text-primary{
    color: rgba(7, 2, 17, 1);
}

.text-secondary{
    color: rgba(255, 0, 0, 1);
}

.btn-primary{
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border: none;
    padding: 16px 32px;
    margin-top: 48px;
    border-radius: 8px;
    cursor: pointer;
}

.subtitle{
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 16px;
}
.title{
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
    font-size: 48px;
}
.description{
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}

.image-box img{
    width: 100%;
}

/* header styles */
#banner{
    background: linear-gradient( rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1320px;
    border-radius: 16px;
    margin: 50px auto;
}

.banner-content{
    color: white;
    text-align: center;
    padding: 175px 345px;
}
.banner-content .subtitle{
    font-size: 32px;
}
.banner-content .title{
    font-size: 72px;
}

/* main styles */
main section{
    margin: 120px auto;
    width: 1320px;
}

/* deals section styles */
#deals{
    width: 800px;
}
.deals-content{
    text-align: center;
    margin-bottom: 50px;
}

#deals .title{
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 48px;
}
#deals p{
    font-size: 24px;
    font-weight: 500;
}
#deals .subtitle{
    font-size: 48px;
    font-weight: bold;
    margin-top: 16px;
}
.deals-image{
    width: 100%;
}

/* welcome section styles */
#welcome{
    background: linear-gradient(to right, rgb(7, 2, 17) 0%, rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}
.welcome-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 130px;
    gap: 90px;
}

 .welcome-content{
    width: 55%;
    color: white;
}
.welcome-content .title{
    font-size: 64px;
    margin-bottom: 24px;
}
.welcome-content .description{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
}
.welcome-content .btn-primary{
    background-color: transparent;
}

/* place section styles */
#place{
    background: linear-gradient(rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 0) 100%);
    border-radius: 8px;
}

.place-content{
    text-align: center;
    padding: 100px 385px;
}
.place-content .subtitle{
    font-weight:600;
    font-size: 32px;
}
.place-content .btn-primary{
    background-color: red;
}

/* coming-soon section styles */
#coming-soon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coming-soon-content-1{
    width: 33%;
}
.coming-soon-content-2{
    width: 25%;
}

.coming-soon-content-2 .description{
    margin-bottom: 40px;
}

#coming-soon .image-box{
    border-radius: 50%;
    width: 33%;
    border: 15px solid red;
    padding: 50px;
    margin: 0 120px 0 70px;
}

.coming-soon-content-2 .title{
    font-weight: 700;
    margin-bottom: 16px;
}
.coming-soon-content-2 img{
    width: 140px;
}

/* holidays-sale section styles */
#holidays-sale{
    background: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
}
.holidays-sale-content{
    text-align: center;
    margin: 0 125px;
}
.holidays-sale-content .title{
    font-size: 72px;
    margin-bottom: 28px;
}
.holidays-sale-content .description{
    font-weight: 500;
}
.holidays-sale-images{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    border-radius: 16px;
}

/* portfolio section styles */
#portfolio{
    border-radius: 16px;
}
.portfolio-content{
    margin-right: 420px;
}

.portfolio-images-container{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;

}
.portfolio-images-container .image-box{
    max-width: 418px;
    border-radius: 16px;
}
.portfolio-images-container .image-box img{
    height: 100%;
}

/* subscribe section styles */
#subscribe{
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.subscribe-content{
    text-align: center;
    margin: 0px 210px; 
}
.subscribe-content img{
    width: 150px;
}
.subscribe-content .title{
    margin-top: 40px;
}
.subscribe-form{
    border-radius: 50px;
    width: 650px;
    height: 72px;
    margin: 48px auto 0;
    position: relative;
}
.subscribe-form input[type="email"], .subscribe-form .btn-primary{
    position: absolute;
    border: none;
    padding: 25px 40px;
}
.subscribe-form input[type="email"]{
    border-radius: 50px 0 0 50px;
    font-size: 18px;
    color: rgba(7, 2, 17, 0.3);
    width: 53%;
    background-color: white;
    left: 0;
}
.subscribe-form .btn-primary{
    background-color: red;
    border-radius: 0 50px 50px 0;
    font-weight: 600;
    margin: 0;
    right: 0;
    width: 35%;
}

/* footer styles */
.footer{
    background-color: rgba(7, 2, 17, 1);
    padding-top: 120px;
    padding-bottom: 120px;
}
.footer-container{
    color: white;
    width: 1320px;
    margin: 0 auto;
}
.contact-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 135px;
}
.contact-info .subtitle{
    list-style: none;
    padding: 0;
}
.contact-item a{
    text-decoration: none;
    color: white;
}
.contact-item img, .icons-container img{
    margin-right: 16px;
}

.icons-container{
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 50px auto;
    padding-top: 48px;
    padding-bottom: 48px;
}

.copyright-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.unsubscribe-btn .btn-primary{
    margin: 0;
    background-color: transparent;
    font-size: 24px;
    font-weight: 500;
}
