*{
    margin: 0;
}

/* shared styles */
.background-color{
    /* background: linear-gradient( rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url(); */
}

/* header styles */
#banner{
    background: linear-gradient( rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 1320px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.banner-content{
    color: white;
    text-align: center;
}
.subtitle{
    font-size: 32px;
}
.title{
    font-size: 72px;
    font-weight: bolder;
    margin-top: 20px;
}

/* main styles */
main section{
    margin: 100px auto;
    width: 1320px;
}

/* deals section styles */
#deals{
    width: 800px;
}
.deals-content{
    text-align: center;
    margin-bottom: 50px;
}
#deals .title, #deals p{
    color: red;
}
#deals .title{
    font-size: 88px;
    font-weight: bold;
}
#deals p{
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;

}
#deals .subtitle{
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
}
.deals-image{
    width: 100%;
}

/* welcome section styles */
#welcome{
    height: 600px;
    background: linear-gradient(to right, rgb(7, 2, 17) 0%, rgba(7, 2, 17, 0) 100%), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}
.welcome-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 130px;
    gap: 90px;
}

 .welcome-content{
    width: 55%;
    color: white;
}
.welcome-content .title{
    font-size: 64px;
    font-weight: bolder;
}
.welcome-content .description{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin: 30px 0;
}
.join-now{
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    margin-left: 30px;
}

.image-box img{
    width: 100%;
}