*{
    margin: 0;
}

/* header styles */
#banner{
    background: linear-gradient( rgba(7, 2, 17, 1) 0%, rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 1320px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.banner-content{
    color: white;
    text-align: center;
}
.subtitle{
    font-size: 32px;
}
.title{
    font-size: 72px;
    font-weight: bolder;
    margin-top: 20px;
}